/*
*	PAGE SPECIFIC: LOGIN
*	
*	STYLES USED FOR THE LOGIN PAGE
*
*/
#page-login,
#page-signup {
	background: #268CBB;

	& .container {
		& .inner {
			position: relative;
			width: 300px;
			margin: 0 auto;
			padding: 5% 0;
			text-align: center;
		}
	}
}

.form-link {
	color: #fff;
	font-size: 13px;
	text-decoration: underline;
	display: block;
	margin-top: 25px;
}

section#title {
	color: white;

	& h1 {
		font-size: 62px;
	}
}

section#login,
section#signup {
	margin: 40px 0;
}

.auth-form {
	& input {
		margin-bottom: 10px;
		@include border-right-radius(3px);
	}
	& button {
		width: 100%;
	}
}

#login-errors {
	margin: 20px 0;
}