@import "compass/css3";

* {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: Helvetica, sans-serif;
}

@import "settings";
@import "structure";
@import "helpers";
@import "typography";
@import "fonts";
@import "login";
@import "forms";

@import "icons";
@import "topbar";
@import "dashboard";
@import "modals";