<html>
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<link rel="stylesheet" href="css/global.css">
</head>
<body id="page-dashboard">

	<div class="container" id="document">

		<div id="loading"></div>

		<div id="dashboard">
			<header id="header" class="clear">
				<h1 class="logo">Quarters</h1>
				<nav id="nav" class="clear">
					<ul role="navigation">
						<li>
							<a href="#0" id="nav-settings">
								<span class="visually-hidden">Settings</span>
								<span class="icon-settings"></span>
							</a>
							<ul class="dropdown">
								<li><a href="#0" class="">Settings</a></li>
								<li><a href="#0" class="">Logout</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
			<!-- End Header
			============================================== -->

			<div id="dashboard-body" class="clear">
				<aside id="sidebar">
					<section class="sidebar-module">
						<div class="module-header clear" id="newProjBtn">
							<h2>Projects</h2>
							<a id="add-new-project" href="#0" class="plus" data-target="project">+</a>
						</div>
						<!--# end add project -->

						<div class="module-body" id="sidebar-module-projects">
							<ul id="project-list"></ul>
						</div>
						<!--# end list of projects -->
					</section>

					<section class="sidebar-module">
						<div class="module-header clear">
							<h2>Team</h2>
							<a href="#0" class="plus">+</a>
						</div>
						<div class="module-body">
							<ul>
								<li class="project-item clear">
									<i class="icon-avatar"></i>
									<a href="#0" data-id="{{ _id }}"><%= username %></a>
								</li>
							</ul>
						</div>
					</section>
					
					<!--Modal goes here-->
					<div class="modal hidden" data-modal="new-project">
						<div class="modal-container">
							<div class="modal-header">
								<h4>New Project</h4>
							</div>
							<div class="modal-body">
								<form id="new-project-form" class="clear">
									<input id="input-project-title" type="text" class="input-single" placeholder="Project Name..."/>
									<button class="button button-green button-single" id="btn-new-project">Add</button>
								</form>
							</div>
							<!--<div id="modal-footer">
								<p>Footer</p>
							</div>-->
						</div>
						<div class="modal-overlay"></div>
					</div><!--end modal-->
					
				</aside>
				<!-- End Sidebar
				============================================== -->

				<section id="tasks">
					<div id="tasks-container">
						<div class="tasks-header clear">
						    <h3></h3>
						    <a id="add-new-task" href="#0">
						        <i class="icon-new-item" data-target="task"></i>
						    </a>
						</div>
						<div class="tasks-body">
							<ul></ul>
						</div>
					</div>
					<div id="tasks-modal-container"></div>
				</section>
				<!-- End Tasks
				============================================== -->

				<section id="task">
					<div class="task-header shadow-box clear">
						<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h2>
						<a href="#0">
							<i class="icon-bin"></i>
						</a>
					</div>

					<div class="task-body shadow-box">
						<div class="task-info clear">
							<i class="icon-avatar-black"></i>
							<div class="label">
								<span>assigned to:</span>
								<h4>Ashley</h4>
							</div>
						</div>
						<div class="task-info clear">
							<i class="icon-calendar"></i>
							<div class="label">
								<span>deadline:</span>
								<h4>28/12/2013</h4>
							</div>
						</div>
						<div class="task-info clear">
							<i class="icon-tags"></i>
							<div class="label">
								<span>tags:</span>
								<h4>development, design</h4>
							</div>
						</div>
						<div class="task-info clear">
							<i class="icon-subtasks"></i>
							<div class="label">
								<span>subtasks:</span>
								<h4>Subtasks</h4>
							</div>
						</div>
					</div>

					<div class="task-footer">
						<form id="comment-form">
							<input type="text" id="comment" placeholder="Comment..." />
							<input type="submit" value="Submit" style="display: none;" />
						</form>
						<ul id="comments">
							<li class="clear">
								<div class="comment">
									<div class="comment-header clear">
										<h5>Ashley</h5>
										<time>2 days ago</time>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
								</div>
								<a href="#0">
									<i class="icon-bin"></i>
								</a>
							</li>
							<li class="clear">
								<div class="comment">
									<div class="comment-header clear">
										<h5>Ashley</h5>
										<time>2 days ago</time>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
								</div>
								<a href="#0">
									<i class="icon-bin"></i>
								</a>
							</li>
						</ul>
					</div>

				</section><!--end task-->

			</div><!--end dashboard body-->
		</div><!--end dashboard-->

	</div><!--end container-->

	<script type="text/template" id="project-list-template">
		<li class="project-item">
			<a href="#0" data-id="{{ _id }}">
				<i class="icon-project"></i>
				<span>{{ title }}</span>
			</a>
		</li>
	</script>

	<script type="text/template" id="task-modal-template">
		<div class="modal" data-modal="new-task">
			<div class="modal-container">
				<div class="modal-header">
					<h4>New Task <span>:: {{ title }}.</span></h4>
				</div>
				<div class="modal-body">
					<form id="new-task-form" class="clear">
						<input type="text" placeholder="Task Name" class="input-single" id="input-task-title" />
						<button id="btn-task-new" class="button button-green button-single">Add</button>

						<section id="task-meta">
							<div class="task-info clear">
								<i class="icon-avatar-black"></i>
								<div class="label">
									<span>assign to:</span>
									<select id="team-list">
										<option>Ashley</option>
										<option>Ashley</option>
										<option>Ashley</option>
									</select>
								</div>
							</div>
							<div class="task-info clear">
								<i class="icon-calendar"></i>
								<div class="label">
									<span>set end date:</span>
									<input type="text" placeholder="dd/mm/yyyy" />
								</div>
							</div>
							<div class="task-info clear">
								<i class="icon-tags"></i>
								<div class="label">
									<span>tags:</span>
									<input type="text" placeholder="design, html, business" />
								</div>
							</div>
							<div class="task-info clear">
								<i class="icon-subtasks"></i>
								<div class="label">
									<span>subtasks:</span>
									<h4>coming soon...</h4>
								</div>
							</div>
						</section>
					</form>
				</div><!--end modal body-->
			</div><!--end modal container-->
			<div class="modal-overlay"></div>
		</div><!--end modal-->
	</script>

	<!--<script src="js/app.min.js"></script>-->
<script data-main="js/main" src="js/libs/require.js"></script>
<script src="http://localhost:4000/livereload.js"></script>
</body>
</html>